# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\shujujiegou\arithmetic\learn_0909\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
