# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\shujujiegou\dataStructure\sort_insert1031\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
